body{
    background-color:lightslategray;
    color:white;
    font-size:87.5%; /*Base font size:14px*/
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height:1.5;
    margin:0;
    padding:0;
    text-align:left;
}
.body{
    clear:both;
    width.70%;
    margin:0 auto;
}
h2{
    font-size:1.5em; /*22px*/
    font-weight:400;
    line-height:1.1;
    margin-bottom:.8em;
}
a{
    color:darksalmon;
    text-decoration:none;

}
a:hover{
    background-color:antiquewhite;
    color:brown;
    text-decoration:none;
}
.mainHeader img{
    width30%;
    height:auto;
    margin:3% 0;
    
}
.mainHeader nav{
    background-color:#19B9CF;
    font-size:16px;
    height:40px;
    line-height30px;
    margin: 0 auto 30px auto;
    text-align:center;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
.mainHeader nav ul{
    list-style:none;
    margin:0 auto;
     
}
.mainHeader nav ul li{
    float:left;
    display:inline;
}
.mainHeader nav a:link, .mainHeader nav a:visited{
    color:#fff;
    display:inline-block;
    height:30px;
    padding:5px 25px;
    text-decoration: none;
}
.mainHeader nav a:hover{
    background-color:#22a5f7;
    color:#fff;

}